$body-background-color:rgb(173, 121, 121);
$background-color:white;
$border-color:white;
$text-color:#7e5f42;
$button-text-color:rgb(97, 103, 124);
$form-input-shadow:#8b8b8b;
$text-shadow:rgb(170, 168, 168);
$form-shadow:rgba(0, 0, 0, 0.4);